
 .logo{
 width: 50px; 
 height: auto; 
 margin-right: 10px; 
 }

 

nav{
   background-color: #4E5355;
    
   
 }

 .navbar{
   padding: 30px 70px;
   
 }

 .navbar-nav{ 

   position: sticky;
  top: 0;
  
 }
 

 .navbar-brand{
   color: white;
   font-size: 25px;
   font-weight: 400;
   font-family: sans-serif;
 }

 .nav-item a{
   color: white;
   font-size: 16px;
   font-weight: 400;
   font-family: sans-serif;
   margin-left: 50px;
   align-items: center;
   
 }

 li a:hover:not(.active) {
   background-color:#6a6d6e;
   color: white;
   border-radius: 3px;
   height: 40px;
 }

 .active {
   background-color: #8a8d8f;
   border-radius: 3px;
   height: 40px;
   
 }




